{
	"token": "DISCORD_TOKEN",
	"prefix": "!",
	"playing": "Linking...",
	"godMode": [],
	"servers": [
		{
			"channel": "DISCORD_CHANNEL",
			"userMentionsMode": "2",
			"channelMentionsMode":"1",
			"roleMentionsMode": "2",
			"authorMode": "2",
			"allowDump": true,
			"allowBots": false,
			"godMode": [],
			"dbHost": "MYSQL_HOST",
			"dbPort": "3306",
			"dbUser": "MYSQL_USER",
			"dbPassword": "MYSQL_PASSWORD",
			"db": "MYSQL_DB",
			"dbTable": "MYSQL_TABLE"
		}
	]
}
